p {
    font-family: Arial;
}

h1 {
    color: maroon;
}


#article-title {
    font-family: cursive;
    text-transform: capitalize;
}

.title {
    color: teal;
}

.uppercase {
    text-transform: uppercase;
}