body {
    background-color: white;
  }
  h1 {
    font-size: 28px;
    color: black;
    font-family: Helvetica;
  }
  h2 {
    font-size: 24px;
    color: black;
    font-family: Helvetica;
  }
  h3 {
    font-size: 22px;
    color: black;
    font-family: Helvetica;
  }
  p {
    font-size: 14px;
    color: black;
    font-family: Helvetica;
  }
  li {
    font-size: 14px;
    color: black;
    font-family: Helvetica;
  }
  adress {
    font-size: 14pxx;
    color: blue;
    font-family: Helvetica;
  }