body {
    background-color: white;
  }
  h1 {
    font-size: 28px;
    color: black;
    font-family: Georgia;
  }
  h2 {
    font-size: 24px;
    color: black;
    font-family: Georgia;
  }
  h3 {
    font-size: 22px;
    color: black;
    font-family: Georgia;
  }
  p {
    font-size: 18px;
    color: black;
    font-family: Georgia;
  }